.section-img {
	h1{
		padding-top:15%;
		font-size: 50px;
	}
	h1, h4{
		text-align:center;
		color:white;
  		font-family: Ubuntu;
	}
	background-image:url("../images/back-lock.jpg");
	@include modulo(fixed, no-repeat, center center);
	min-height: 100vh;
}
.capa {
	width:100%;
	height:100vh;
	background-color:rgba(0,0,0,0.6);
}
.carrito{
	padding-top:5%;
	padding-bottom:5%; 
	.img-1{
		width: 85%;
	}
	.img-carrito{
		float: left;
		padding-top:6%;
	}
	h2{
		font-family: Ubuntu;
		border-bottom:1px solid black;
		font-size: 35px;
	}
	h5{
		color: #909497; 
	}
	h3, p{
		padding-left:30%;
		padding-top:1%;
		color: #909497; 
	}
}
.welcome{
	video{
		margin-top:15%;
	}
	h2{
		padding-top:32%;
	}
	text-align:center;
	color:white;
	background-image:url("../images/bg3.jpg");
	@include modulo(fixed, no-repeat, center center);
	min-height: 100vh;
}
.imagenes{
	padding:3% 0%;
	h2{
		font-family: Ubuntu;
		border-bottom:1px solid black;
		font-size: 35px;
	}

	h5{
		padding-top:10%;

	}
	h6,p{
		color:#424949;
	}
	.fa{
		color:#909497;
		padding-left: 6%;
		font-size: 20px;
		padding-bottom:15%;
	}
	img{
		width: 100%;
		&:hover {
			-webkit-transition: all 700ms linear;
			-moz-transition: all 700ms linear;
			-ms-transition: all 700ms linear;
			-o-transition: all 700ms linear;
			transition: all 700ms linear;
		}	
	}
}
.cajas{
	font-family: Ubuntu;
	text-align:center;
	padding-bottom:5%;
	strong{
		font-size: 50px;
	}
	.caja-gris{
		background-color:#F2F3F4;
		&:hover{
			background-color:white;
			border:1px solid grey;
		}
	.fa{
	 font-size: 50px;
		color:grey;
	}
	h3{
		color:grey;
		padding:5%;
	}
	}
	.caja-gris-peque{
		border:1px solid grey;
		padding-top:10%;
	}
	.caja-gris-peque2{
		float: left;
		border:1px solid grey;	
		padding-left:9%;
		padding-top:10%;
		width: 130px;
	}
	.caja-negra{
		background-color:black;
		padding:1%;
		h3{
			font-size: 20px;
			color:white;
		}
	}
}